<div class="container">
  <div class="city-info">
    <h1 id="header-font" class="trami-font">Featured cities</h1>
    <h5 class="main-font">Looking for fun things to do near you? See what events happening in cities around the country.</h5>
  </div>
    <!-- Swiper -->
  <div class="swiper mySwiper mx-5 mb-0" data-controller="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag "Berlin.png" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "London.png" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "Sydney.png" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "Paris.png" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "SF.png" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "Moscow.png" %>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="create-room d-flex align-items-center mx-5">
    <h5 class="main-font mb-0 me-4">Create your own Trami room</h5>
    <button class="start-button">
      <%= link_to "Get started", new_user_registration_path, class: "button-content text-decoration-none" %>
    </button>
  </div>
</div>
