<div class="carousel-container">
  <div class="d-flex flex-column align-items-start city-container">
    <div class="city-info">
      <h1 id="header-font" class="trami-font text-black-gray pb-5 font-65">Featured cities</h1>
      <h5 class="main-font weight-300 text-black-gray">Looking for fun things to do near you? See what events happening in cities around the country.</h5>
    </div>
  </div>
    <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper swiper-1 mySwiper mb-0 swiper-box" data-controller="swiper">
      <div class="swiper-wrapper swiper-wrapper-1">
        <div class="swiper-slide swiper-slide-1">
          <%= image_tag "Berlin.png" %>
        </div>
        <div class="swiper-slide swiper-slide-1">
          <%= image_tag "London.png" %>
        </div>
        <div class="swiper-slide swiper-slide-1">
          <%= image_tag "Sydney.png" %>
        </div>
        <div class="swiper-slide swiper-slide-1">
          <%= image_tag "Paris.png" %>
        </div>
        <div class="swiper-slide swiper-slide-1">
          <%= image_tag "SF.png" %>
        </div>
        <div class="swiper-slide swiper-slide-1">
          <%= image_tag "Moscow.png" %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="d-flex justify-content-center create-room-container">
    <div class="create-room d-flex align-items-center mx-5">
      <h5 class="main-font mb-0 me-4 weight-300 text-black-gray">Create your own Trami room</h5>
      <button class="start-button">
        <%= link_to "Get started", new_room_path, class: "button-content weight-300" %>
      </button>
    </div>
  </div>
</div>
