<div class="questionaire-container">
  <div class="trami-bg d-flex flex-column align-items-center">
    <h1 class="ques-welcome text-black-gray">Hi&nbsp Friend,</h1>
    <div class="div-transparent">
    <%= form_with url: rooms_path, method: :get do |f| %>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active d-none" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="d-none" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="d-none" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="ques-mood carousel-content">
              <div class="question-1 text-center">
                <h1 class="main-font weight-300 font-30 text-black-gray">What's your mood?</h1>
              </div>
              <div class="mood-card-wrap d-flex flex-column align-items-center">
                <div class="mood-card-1 d-flex">
                  <div data-controller="questionaires" id="Dreamy" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="mood-card-dreamy mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.first.name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Energetic" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="mood-card-energetic mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.second.name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Relax" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-relax mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.third.name.capitalize, for:"relax", value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Neutral" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-neutral mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.fourth.name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Social" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-social mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.fifth.name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Competitive" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-competitive mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.all[5].name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                </div>
                <div class="mood-card-2 d-flex">
                  <div data-controller="questionaires" id="Adventurous" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-adventurous mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.all[6].name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Chillin" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-chllin mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.all[7].name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Creative" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-creative mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.all[8].name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Intellectual" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-intellectual mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.all[9].name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Exploratory" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-exploratory mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.all[10].name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                  <div data-controller="questionaires" id="Mindful" data-questionaires-target="moodElement" data-action="click->questionaires#mood" class="pt-2 mood-card-mindful mood-card d-flex justify-content-center flex-column align-items-center">
                    <%= f.label :mood, Mood.all[11].name.capitalize, value: params[:mood], class: "main-font text-black-gray" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="ques-location carousel-content">
              <div class="text-center d-flex flex-column align-items-center">
                <div class="question-2">
                  <h1 class="main-font weight-300 font-30 text-black-gray">Where's your current location?</h1>
                </div>
                <div class="location-bar">
                  <%= f.select :address, Room.all.pluck(:address), value: params[:address], class: "city-location main-font" %>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="ques-status carousel-content">
              <div class="d-flex flex-column align-items-center">
                <h5 class="main-font weight-300 font-18 text-black-gray mt-2">Last step...</h5>
                <div>
                  <div class="question-3 text-center">
                    <h1 class="main-font weight-300 font-30 text-black-gray">Please select who you are?</h1>
                  </div>
                  <div class="ques-3-choice d-flex justify-content-around">
                    <div class="status-container d-flex flex-column align-items-center">
                      <h1 class="mb-3 ques-3-icon">⛺️</h1>
                      <div data-controller="questionaires-status" data-questionaires-status-click-value="false" data-questionaires-status-status-value="I'm a local" data-action="click->questionaires-status#status" data-questionaires-status-status-param="local" class="ques-3-ans">
                        <h5 class="mb-0"><%= f.label :mood, "I'm a local", class: "mx-3 main-font weight-300 font-18 text-black-gray mb-0" %></h5>
                      </div>
                    </div>
                    <div class="or-text d-flex justify-content-center pt-5">
                      <h5 class="weight-300 main-font text-black-gray font-18">or</h5>
                    </div>
                    <div class="status-container d-flex flex-column align-items-center">
                      <h1 class="mb-3 ques-3-icon">🚀</h1>
                      <div data-controller="questionaires-status" data-questionaires-status-click-value="false" data-questionaires-status-status-value="I'm a traveller" data-action="click->questionaires-status#status" data-questionaires-status-status-param="traveller" class="ques-3-ans">
                        <h5 class="mb-0"><%= f.label :mood, "I'm a traveller", class: "mx-1 main-font weight-300 font-18 text-black-gray mb-0" %></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon round-button trami-font" aria-hidden="true">→</span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <%= f.submit "Explore", class: "explore-btn start-button main-font weight-300" %>
    <% end %>
    </div>
  </div>
</div>
