<div class="login-page bg-white d-flex">
  <div class="trami-img-bg"></div>
  <div class="div-orange">
    <div class="div-orange-gradient d-flex justify-content-center">
      <div class="login-box d-flex flex-column align-items-center">
        <h1 class="trami-font text-black-gray font-60">Trami</h1>
        <h5 class="main-font weight-300 text-black-gray">Welcome back!</h5>
        <div class="login-form">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <div class="div-email">
                <%= f.input :email,
                            class: "email",
                            label: false,
                            required: false,
                            autofocus: true,
                            placeholder: "example@email.com",
                            input_html: { autocomplete: "email" } %>
              </div>
              <div class="div-password">
                <%= f.input :password,
                            class: "password",
                            label: false,
                            required: false,
                            placeholder: "password",
                            input_html: { autocomplete: "current-password" } %>
              </div>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "login-page-btn text-center" %>
            </div>
            <div class="div-remember">
              <%= f.input :remember_me, as: :boolean, class: "main-font text-black-gray" if devise_mapping.rememberable? %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
