<% if @room.user == current_user %>
    <% background_color = "#b2f0ff" %>
    <% message_class = "my-message" %>
  <% else %>
    <% background_color = "#f4ffa1" %>
    <% message_class = "other-message" %>
<% end %>

<div class="container chatroom">
  <h1>Chatroom</h1>
    <div>
    </div>
    <div class="messages">
      <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
          <% background_color = "#b2f0ff" %>
          <% message_class = "my-message" %>
          <% username = "You" %>
        <% else %>
          <% background_color = "#f4ffa1" %>
          <% message_class = "other-message" %>
          <% username = message.user.username %>
        <% end %>
        <div class= <%= message_class %> id="message-<%= message.id %>" style="background-color: <%= background_color%>">
          <small>
            <strong><%= username %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= message.content %></p>
        </div>
      <% end %>
      </div>
  <%= simple_form_for [@room, @message],
    html: {class: "d-flex"} do |f|
  %>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@room.title}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
