<div class="swiper roomcardSwiper" data-controller="roomcard-swiper">
        <div class="swiper-wrapper">
          <% @rooms.each do |room| %>
            <div class="swiper-slide ">
              <div class="card text-center w-90 mb-5">
                <div class="row d-flex">
                  <%= link_to room_path(room), class: "text-decoration-none" do %>
                    <div class="card-body room-slide-card d-flex " style="background-color: <%= room.activity.mood.color%>">
                      <div class ="row" ><h2> <%= room.title %></h2></div>
                      <h4><%=room.description.capitalize %></h4>
                      <h4><%= room.activity.mood.name.capitalize %></h4>
                      <div class="room-info-banner d-flex flex-container justify-content-around">
                        <div>Age:<%= room.min_age %> - <%= room.max_age %></div>
                        <br>
                        <div> 🗓️  <%= room.date.strftime('%d %b. %y') %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
      </div>
    
