<div class="card text-center container">
  <div class="row d-flex justify-content">
    <div class="col-8">
    <%= link_to room_path(room), class: "text-decoration-none" do %>
    <div class="card-header">
    <%=room.title %>
    </div>
    <div class="card-body">
      <h6 class="font"> Description : <%=room.description.capitalize%></h6>
      <p class="font weight-300 font-small"> <i class="fa-solid fa-location-dot"></i> <%= room.address%></p>
      <p class="font weight-300 font-small"> Mood :<%= room.activity.mood.name.capitalize%></p>
    </div>
    <div class="card-footer text-body-secondary">
      <p class="font weight-300 font-small"> Age : <%=room.min_age %> to <%=room.max_age %></p>
      <p class="font weight-300 font-small"> Date : <%= room.date.strftime('%d %b. %y')%></p>
      <p class="font weight-300 font-smaller">Gender : <%= room.gender.capitalize %></p>
      <p class="font weight-300 font-smaller">People : <%=room.participants %>-<%=room.max_part %></p>
    </div>
    <% end %>
    </div>
  </div>
</div>
