<div  class="swiper roomcardSwiper" data-controller="roomcard-swiper">
        <div class="swiper-wrapper"  style="transform: none;">
          <% @rooms.each do |room| %>
          <%= link_to room_path(room), class: "text-decoration-none" do %>
           <div class="swiper-slide">
              <div class="card text-center w-90 mb-6">
                <div class="row col-12 d-flex justify-content">
                    <div class="card-body room-slide-card d-flex " style="background-color: <%= room.activity.mood.color%>">
                      <div class= "card-header col" ><h3><%= room.title %></h3></div>
                      <br>
                      <div class= "card-description"><h3><%=room.description.capitalize %></h3></div>
                      <div class=" row room-info-banner">
                        <div class ="col-6" > Age: <%= room.min_age %> - <%= room.max_age %></div>
                        <div class ="col-6" > 🗓️ <%= room.date.strftime('%d %b %y') %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
      </div>
