<div class="main-container d-flex justify-content-center" style="background-color: <%= @room.activity.mood.color%>;  background-image: linear-gradient(rgba(0, 0, 0, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .1) .1em, transparent .1em);
  background-size: 2em 2em;">
  <div class="room-show-container d-flex flex-column" style="background-color: white;">
    <div class ="row">
      <div class = "col-8">
        <h3> <%= @room.title %></h3>
        <p> <%= @room.description.capitalize %></p>
        <p>&#128204; <%= @room.address %></p>
        </div>
        <div class = "col-4">
          <%= render "shared/useravatar", user: @room.user %>
        </div>
        <div class = "informations-banner">
          <%= render "roominfos", room: @room %>
        </div>
    </div>
    <h3 class = "text-center">They are participating!</h3>
    <div class="row">
      <% @room.appointments.reject{ |appointment| appointment.user == @room.user || appointment.status == 0}.each do |appointment| %>
        <%= render "participantcard", user: appointment.user %>
      <% end %>
    </div>
    <% if @room.user == current_user %>
      <h3 class = "text-center">These users wants to participate!</h3>
      <div class="row">
        <% @room.appointments.reject{ |appointment| appointment.user == @room.user || appointment.status == 1}.each do |appointment| %>
          <%= render "requestcard", appointment: appointment %>
        <% end %>
        </div>
    <% end %>
  </div>
</div>
