<div style="padding-top: 70px;">
  <div class="main-container d-flex justify-content-center" style="background-color: <%= @room.activity.mood.color%>;  background-image: linear-gradient(rgba(0, 0, 0, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .1) .1em, transparent .1em);
    background-size: 2em 2em;">
    <div class="room-show-container d-flex flex-column" style="background-color: white;">
      <div class ="row">
        <div class = "col-8">
          <h3 class="main-font weight-500 font-22" style="border-bottom: grey solid; padding: 5px;"> <%= @room.title %> <div class="badge bg-success" style="background-color: #9BC88B;"><%= @room.date.strftime('%d %B %y') %></div></h3>
          <p style="margin-top: 15px"> <%= @room.description.capitalize %></p>
          <p>&#128204; <%= @room.address %></p>
          <% if current_user == @room.user %>
            <button  class="round-button"  style="height: auto; width: auto; background-color: rgb(62, 62, 62);" > change the address </button>
          <% end %>
          </div>
          <div class = "col-4">
            <%= render "shared/useravatar", user: @room.user %>
          </div>
          <div class = "informations-banner">
            <%= render "roominfos", room: @room %>
          </div>
      </div>
      <div>
      <% if current_user &&  @currentuser_rooms.include?(@room)%>
        <% if @room.appointments.find_by(user: current_user).status == 1%>
          <div class="row" data-controller="show-page-button">
            <p>This room has <strong style="font-size: 20px"><%= @room.participants - 1 %></strong> other <button class="round-button" data-action="click->show-page-button#toggleVisibility" data-show-page-button-target="toggleButton" style="height: auto; width: auto; background-color: rgb(62, 62, 62); margin: 2px;">participants</button></p>
            <div class="d-none d-flex" data-show-page-button-target="allParticipants">
              <div data-controller="upcomingrooms-swiper">
                <% @room.appointments.reject{ |appointment| appointment.user == current_user || appointment.status != 1 }.each do |appointment| %>
                  <%= render "participantcardlight", user: appointment.user %>
                <% end %>
                <% if @room.user == current_user %>
                  <% @room.appointments.reject{ |appointment| appointment.user == @room.user || appointment.status != 0 || appointment.status == 3 }.each do |appointment| %>
                  <%= render "requestcard", appointment: appointment %>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%= render "chatroom", room: @room, chatroom: @chatroom, messages: @messages %>
    <% elsif @room.appointments.find_by(user: current_user).status == 0 %>
          <h3 class="text-center" style="padding-top:60px;"> You're participation is still <strong>pending</strong>... Wait a bit ....</h3>
      <% end %>
      <% elsif current_user && @room.participants < @room.max_part %>
      <div style="text-align: center;">
        <%= form_with url: appointments_path, method: :post do |f| %>
            <%= f.hidden_field :status, value: 0 %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.hidden_field :presence, value: false%>
            <%= f.hidden_field :ownership, value: false %>
            <%= f.submit "Join this amazing event!", class: "explore-btn" %>
        <% end %>
        </div>
      <% elsif  @room.participants >= @room.max_part %>
        <h3 class="text-center" style="background-color = orange;"> This room is <strong>full</strong>!! Sorry ...</h3>
      <% else %>
      <h3 class="text-center" style="padding-top: 60px ;"> You have to <strong>Sign Up or Login</strong> to access more details!! </h3>
    <% end  %>
    </div>
  </div>
</div>
