<div class="main-container d-flex justify-content-center" style="background-color: <%= @room.activity.mood.color%>;  background-image: linear-gradient(rgba(0, 0, 0, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .1) .1em, transparent .1em);
  background-size: 2em 2em;">
  <div class="room-show-container" style="background-color: white;">
    <div class ="row">
      <div class = "col-8">
        <h3> <%= @room.title %></h3>
        <p> <%= @room.description.capitalize %></p>
        <p>&#128204; <%= @room.address %></p>
        </div>
        <div class = "col-4">
          <%= render "shared/useravatar", user: @room.user %>
        </div>
        <div class = "informations-banner">
          <div class="row justify-content-between w-100" style="background-color: <%= @room.activity.mood.color%>;">
            <%= image_tag("#{@room.gender}.png", alt: @room.gender, class: "image-show")%>
            <div class= "col">Age: <%= @room.min_age %> - <%= @room.max_age %></div>
            <div class= "col">&#128100; <%= @room.min_part %> - <%= @room.max_part %></div>
            <div class= "col"> Created <strong><%= @creation_date %> <%= @unit %></strong> ago </div>
          </div>
        </div>
    </div>
  </div>
</div>
