<div class="swiper myroomsSwiper" id="myroomsswiper" data-controller="myrooms">
  <div class="swiper-wrapper" id="wrapper-room-2" style="transform: none;">

    <% @my_rooms.each do |myroom| %>
      <div class="swiper-slide" id="swiper-slide-myroom" style="background-color: <%= myroom.activity.mood.color%>">
        <%= link_to room_path(myroom), class: "text-decoration-none" do %>
          <li class="my-room px-2" >
            <h4 class="mb-4 text-black-gray main-font weight-400 font-20"> <%= myroom.title %> </h4>
            <p class="text-black-gray mb-0 main-font"><%= myroom.date.strftime("%b %d, %Y") %></p>
            <div class="participation mt-3 d-flex align-items-center">
              <p class="mb-0 maon-font text-black-gray">Participants: <%= myroom.participants %> </p>
            </div>
          </li>
        <% end %>
      </div>
    <% end %>

    <% if !@my_rooms.present? %>
      <div class="d-flex flex-column">
        <h2 class="mb-4 review-height d-flex align-items-center font-38 text-black-gray"><strong># My rooms</strong></h2>
        <div class="mx-2 mt-1">
          <p class="text-black-gray mainfont">You have no rooms created yet.</p>
          <%= link_to "Create a room", new_room_path, class: "start-button button-content weight-300 my-4", style: "width: 200px;" %>
        </div>

      </div>
    <% end %>

  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>
