<div class="swiper myroomsSwiper" id="myroomsswiper" data-controller="myrooms">
  <div class="swiper-wrapper" id="wrapper-room-2" style="transform: none;">

    <% @my_rooms.each do |myroom| %>
      <div class="swiper-slide" id="swiper-slide-myroom" style="background-color: <%= myroom.activity.mood.color%>">
        <%= link_to room_path(myroom), class: "text-decoration-none" do %>
          <li class="my-room" >
            <h4 class="mb-0"> <%= myroom.title %> </h4>
            <%= myroom.date.strftime("%b %d, %Y") %>
            <br>
            <div class="participation d-flex align-items-center">
              <p class="mb-0">Participants: <%= myroom.participants %> </p>
            </div>
          </li>
        <% end %>
      </div>
    <% end %>

    <% if !@my_rooms.present? %>
      <div class="d-flex flex-column">
        <h2 class="my-2 review-height d-flex align-items-center"># My rooms</h2>
        <p>You have no rooms created yet.</p>

        <%= link_to "Create a room", new_room_path, class: "start-button button-content weight-300 my-3" %>

      </div>
    <% end %>

  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>
