<div class="swiper upcomingroomsSwiper" data-controller="upcomingrooms-swiper">
  <div class="swiper-wrapper" style="transform: none;">

    <% @rooms.each do |room| %>
      <div class="swiper-slide" id="swiper-slide-room" style="background-color: <%= room.activity.mood.color%>">
        <%= link_to room_path(room), class: "text-decoration-none" do %>
          <li class="event-room" >
            <h4> <%= room.title %> </h4>
            <br>
            <%= room.date.strftime("%b %d, %Y") %>
          </li>
        <% end %>
      </div>
    <% end %>
    <% if @rooms.count < 5 %>
      <div class="swiper-slide" id="swiper-slide-room">
        <%= link_to "Add room +", rooms_path, class:"add-room plus text-decoration-none" %>
      </div>
    <% end %>
      <% if !@rooms.present? %>
      <div class="swiper-slide" id="swiper-slide-room">
        <%= link_to "Add room +", rooms_path, class:"add-room plus text-decoration-none" %>
      </div>
    <% end %>

  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
