<div class="swiper upcomingroomsSwiper" data-controller="upcomingrooms-swiper">
  <div class="swiper-wrapper" id="wrapper-room" style="transform: none;">

    <% @rooms.each do |room| %>
      <div class="swiper-slide" id="swiper-slide-room" style="background-color: <%= room.activity.mood.color%>">
        <%= link_to room_path(room), class: "text-decoration-none" do %>
          <li class="event-room" >
            <h4 class="mb-0"> <%= room.title %> </h4>
            <br>
            <%= room.date.strftime("%b %d, %Y") %>
            <br>
            <% if room.appointments.find_by(user: current_user).status == 0 || room.appointments.find_by(user: current_user).status == 2 %>
              <p class="mb-0"> Status: Pending </p>
            <% else %>
              <p class="mb-0"> Status: Confirmed </p>
            <% end %>
          </li>
        <% end %>
      </div>
    <% end %>

    <% if !@rooms.present? %>
      <h2 class="my-3"># My rooms</h2>
      <p>You have no upcoming rooms yet.</p>
      <button class="start-button my-3">
        <%= link_to "Explore", rooms_path, class: "button-content" %>
      </button>
    <% end %>

  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
