  <div style="overflow: hidden;">
    <div class="swiper upcomingroomsSwiper" id="dashboard-swiper" data-controller="upcomingrooms-swiper" style="overflow: visible; left: -56px; width: 1230px; margin-left: 45px;">
      <div class="swiper-wrapper" id="wrapper-room" style="transform: none; padding-left: 42px;">

        <% @rooms.each do |room| %>
          <div class="swiper-slide d-flex justify-content-center align-items-center">
            <div class="px-4 d-flex align-items-start" id="swiper-slide-room" style="background-color: <%= room.activity.mood.color%>; width: 275px; padding-top: 20px; height: 165px;">
              <%= link_to room_path(room), class: "text-decoration-none" do %>
                <li class="event-room">
                  <div class="d-flex align-items-start" style="padding-right: 15px;">
                    <h4 class="text-black-gray main-font mb-0 pt-1 weight-400 font-18"> <%= room.title %> </h4>
                  </div>
                  <br>
                  <p class="text-black-gray mb-1"><%= room.date.strftime("%b %d, %Y") %></p>
                  <% if room.appointments.find_by(user: current_user).status == 0 || room.appointments.find_by(user: current_user).status == 2 %>
                    <p class="mb-0 text-black-gray"> Status: Pending </p>
                  <% else %>
                    <p class="mb-0 text-black-gray"> Status: Confirmed </p>
                  <% end %>
                </li>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if !@rooms.present? %>
          <div class="d-flex mx-4 mt-5 flex-column">
            <h2 class="mb-4 review-height d-flex align-items-center font-38 text-black-gray"><strong># My upcoming rooms</strong></h2>
            <div class="mx-2 mt-1">
              <p class="text-black-gray mainfont">You have no upcoming rooms yet.</p>
              <%= link_to "Explore", rooms_path, class: "start-button button-content weight-300 my-4", style: "width: 200px;" %>
            </div>

        <% end %>

      </div>
      <div class="swiper-button-prev" style=""></div>
      <div class="swiper-button-next" style="postion: absolute; right: -78px;"></div>

    </div>
  </div>
