<div class="dashboard container" style="background-image: linear-gradient(rgba(0, 0, 0, .1) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .1) .1em, transparent .1em);
  background-size: 2em 2em;">
  <%# Upcoming-Rooms-Swiper %>
  <div class="row upcoming-rooms my-5">
    <h1 class="mb-2">Upcoming rooms</h1>

    <%= render 'upcomingrooms' %>

  </div>
  <%# Reviews & My-Rooms %>
  <div class="row my-reviews-and-rooms d-flex justify-content-between mb-5">

    <div class="col-6 reviews mb-2">
      <h2 class="my-3">My reviews</h2>
      <p>You have no reviews yet.</p>
    </div>

    <div class="col-6 my-rooms">
      <% if !@my_rooms.empty? %>
      <div class="d-flex justify-content-between mb-2">
        <h2 class="my-3">My rooms</h2>
        <button class="round-button my-2">
          <%= link_to "+", new_room_path, class: "button-content" %>
        </button>
      </div>
      <ul>
        <% @my_rooms.each do |myroom| %>
        <li class="my-room" style="background-color: <%= myroom.activity.mood.color%>">
          <div>
            <%= myroom.title %> - <%= myroom.date.strftime("%b %d, %Y") %>
            <i class="fa-regular fa-trash-can ms-2"></i>
            <i class="fa-solid fa-pencil ms-2"></i>
          </div>
          <div class="participation d-flex align-items-center">
            <p class="mb-0">Participants: <%= myroom.participants.count  %> </p>
          </div></li>
        <% end %>
      </ul>

      <% else %>
      <h2 class="my-3">My rooms</h2>
      <p>You have no rooms created yet.</p>
      <button class="start-button my-3">
        <%= link_to "Create a room", new_room_path, class: "button-content" %>
      </button>
      <% end %>
    </div>

  </div>

</div>
